// контейнер бургера
.burger-wrapp {
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 60px;
  padding-left: 20px;
  width: 100%;
  overflow-y: scroll;
  height: 100%;
  z-index: 100;
  background-color: var(--card-color-1);
  transform: translateY(-100%);
  @include transition(transform);

  // від 768
  @include tabletMin768 {
    padding-top: 58px;
    width: 45%;
  }
  // від 1200
  @include desktopMin1200 {
    display: none;
  }
}

// відкрите меню
.burger-wrapp.is-open {
  transform: translateY(0);
  @include transition(transform);
}
// христик
.burger-toggle {
  position: absolute;
  right: 45px;
  top: 25px;
  fill: var(--fonts-body-color);
  margin-left: auto;
  background-color: transparent;
  cursor: pointer;
  &:focus {
    fill: var(--hero-title-color);
  }
  // до 768
  @include mobileMax768 {
    margin-right: 35px;
    margin-right: 0;
    right: 60px;
    top: 25px;
  }

  // від 768
  @include tabletMin768 {
    margin-right: 40px;
  }

  // від 1200
  @include desktopMin1200 {
    display: none;
  }
}

// лішки
.burger-nav__item {
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.burger-nav__link {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  @include transition(color);
  // ховерні фокуси
  &:hover,
  &:focus {
    color: var(--button-border-hover-color);
    @include transition(color);
  }
}

// стрілка у фокусі
.burger-nav__button:focus {
  fill: var(--hero-title-color);
}
