.header-section {
  padding-top: 0;
  padding-bottom: 0;

  // від 1200
  @include desktopMin1200 {
    position: relative;
    z-index: 1;
    width: 100%;
    background-color: transparent;
  }
}
// хедер
.header {
  display: flex;
  align-items: center;

  // від 1200
  @include desktopMin1200 {
    padding-top: 37px;
  }
}

// лого
.logo {
  // від 1200
  @include desktopMin1200 {
    margin-right: 128px;
  }
}
// Лого іконка
.logoSVG {
  fill: var(--fonts-body-color);
  stroke-width: 0.3px;
  &:hover {
    fill: var(--span-color);
  }
}
// навігація
.header-nav {
  display: flex;
  align-items: center;
}

.header-nav__list {
  display: none;

  // від 1200
  @include desktopMin1200 {
    display: flex;
  }
}

.header-nav__item {
  &:not(:last-child) {
    margin-right: 35px;
  }
}

.header-nav__link {
  @include transition(color);
  padding: 10 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  // ховерні фокуси
  &:hover,
  &:focus {
    color: var(--button-border-hover-color);
  }
}

.header-nav__button {
  display: block;
  align-items: center;
  padding: 0;
  margin-right: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  max-width: 159px;
  width: 100%;
  height: 44px;
  cursor: pointer;
  @include transition(background-color);
  // від 768
  @include tabletMin768 {
    margin-right: 0;
  }

  // від 1200
  @include desktopMin1200 {
    margin-left: auto;
  }
  // до 768
  @include mobileMax768 {
    display: none;
  }
}
// фокус
.header-nav__button:focus {
  fill: var(--burger-color);
}
// бургер
.burgerBtn {
  margin-left: auto;
  background-color: transparent;
  cursor: pointer;
  // фокус з  бургером
  &:focus {
    fill: var(--button-border-hover-color);
  }
  // від  768
  @include tabletMin768 {
    margin-right: 32px;
  }

  // від 1200
  @include desktopMin1200 {
    display: none;
  }
}
