.section-gallery {
    padding-bottom: 80px;
    margin: 0 auto;
    background: url(../images/bg/bg-products-mob.png), var(--card-color-1);
    background-position: 101px 0;

   //    *************************************************55555555555555555555555


  // подумать про позиционировние фонаі

}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .section-gallery {
        background: url(../images/bg/bg-products-mob@2x.png);
    }
}

.galery-thumb
{
    margin: 0 auto;
    border-radius: 8px;
    top: -32px;
        animation-name: puffIn;
    animation-duration: 5s;
    animation-fill-mode: none;
    animation-direction: alternate;
    // animation-iteration-count: infinite;
    
}

