.products-section {
    background: url(../images/bg/bg-products-mob.png), var(--card-color-1);
  background-repeat: repeat-y;
  background-position: 65% -20%;
  padding-top: 60px;
  padding-bottom: 60px;
  
  &__lable {
    font-family: var(--font-first);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 12px;
  }
  &__title {
    font-family: var(--font-sacond);
    font-size: 30px;
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
  }
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .products-section {
        background: url(../images/bg/bg-products-mob@2x.png), var(--card-color-1);
    }
}

// cards
.card {
  list-style: none;
  padding: 0;
  margin: 0;
  // all styles for card
  &__item {
   height: 100%;
    display: flex;
    flex-direction: column;
justify-content: center;
    text-align: center;

    width: 280px;
    height: 420px;
    margin: 0 auto;
    margin-top: 148px;
    border-radius: 24px;
    position: relative;
  }
}
// 1 card
.card__item--first {
  background-color: var(--card-color-1);
}
// card picture 1 psevdo
.card__item--first::after {
  content: "";
  position: absolute;
  left: 20px;
  top: -103px;
  width: 100%;
  height: 100%;
  background: url(../images/product/round-product-1-mob480-320.png) no-repeat;
  z-index: 1;
  margin-bottom: 40px;
}
//************************************************************************
.card__item--first::before {
  content: "";
  position: absolute;
  left: 40px;
  top: -100px;
  width: 100%;
  height: 100%;
  background: url(../images/product/product-1-mob480-320.png) no-repeat;
  z-index: 2;
  margin-bottom: 40px;
}

// 2 card

.card__item--sacond {
  background-color: var(--card-color-2);
}
// card picture 2 psevdo


.card__item--sacond::after {
  content: "";
  position: absolute;
  left: 20px;
  top: -103px;
  width: 100%;
  height: 100%;
  background: url(../images/product/round-product-2-mob480-320.png) no-repeat;
  z-index: 1;
  margin-bottom: 40px;
}
//************************************************************************
.card__item--sacond::before {
  content: "";
  position: absolute;
  left: 40px;
  top: -100px;
  width: 100%;
  height: 100%;
  background: url(../images/product/product-2-mob480-320.png) no-repeat;
  z-index: 2;
  margin-bottom: 40px;
}
// 3 card 
.card__item--third {
  background-color: var(--card-color-3);
}
// card picture 3 psevdo

.card__item--third::after {
  content: "";
  position: absolute;
  left: 20px;
  top: -103px;
  width: 100%;
  height: 100%;
  background: url(../images/product/round-product-3-mob480-320.png) no-repeat;
  z-index: 1;
  margin-bottom: 40px;
}
// *****************************************************************************
.card__item--third::before {
  content: "";
  position: absolute;
  left: 40px;
  top: -100px;
  width: 100%;
  height: 100%;
  background: url(../images/product/product-3-mob480-320.png) no-repeat;
  z-index: 2;

}

.card-contentt {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
  height: 100%;
}
.card-name {
  font-family: var(--font-first);
  font-weight: 700;
  font-size: 20px;
  line-height: 2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-top: 123px;

  // ??????????????????????????????????????????????????????????????????? подумать
}

.card-descraib {
  font-family: var(--font-first);
  line-height: 1.8;
  font-size: 14px;
  display: inline-block;
  align-self: center;
  text-align: center;
  letter-spacing: 0.04em;
  outline: 1px bisque solid;

}

.card-batton {
  width: 40px;
  align-self: center;
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 16px;
}
