/* змінні */
:root {
  // кольори
  --prime-color: #84A178;
  --fonts-body-color: #131313;
  --burger-color: #FFFFFF;
  --hero-title-color: #FCFCFC;
  --right-reserv-color: #7A7A7A;
  // card colors
  --card-color-1: #AEC6A5;
  --card-color-2: #EFD478;
  --card-color-3: #D6936D;
  --contacts-card-color: #E1E1E1;
  // color button
  --button-color: #F8D24E;
  --button-text-color-hero: #000000;
  --button-border-hover-color: #0A8817;
  --button-color-hero-disable: #ABABAB;


  
   



  // геометрія
  --card-gap: 30px;
  // fonts
  --font-first: Montserrat;
  --font-sacond: "Seymour One";
  --font-reserv: Verdana;
}

// outline: 1px bisque solid;