/* змінні */
:root {
  // кольори
  --prime-color: #ffdab9;
  --sacond-color: #f6d19b;
  --fonts-body-color: #8b4513;
  --burger-color: #ffffff;
  --hero-title-color: #fcfcfc;
  --right-reserv-color: #7a7a7a;
  --backdropColor: rgba(143, 140, 140, 0.8);

  // card colors
  --card-color-1: #aec6a5;
  --card-color-2: #efd478;
  --card-color-3: #dba786;
  --contacts-card-color: #e1e1e1;
  --span-color: #ff69b4;
  // color button
  --button-color: #f8d24e;
  --button-text-color-hero: #000000;
  --button-border-hover-color: #0a8817;
  --button-color-hero-disable: #ababab;
  // fonts
  --font-stack: "Seymour One";
  --font-body: "DM Sans", sans-serif;
}
